{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
  <div class="container mt-5">
      <h1 class="text-center">Listado de Criptomonedas</h1>
      <table class="table table-bordered table-striped">
      <thead>
          <tr>
          <th>Criptocurrency</th>
          <th>Price</th>
          <th>Price Change</th>
          <th>24h Low / 24h High</th>
          <th>Trading Volume</th>
          <th>Market Cap</th>
          <th>Market Dominance</th>
          <th>Market Rank</th>
          <th>Circulating Supply</th>
          <th>Total Supply</th>
          <th>Max Supply</th>
          <th>Obtained</th>
          <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
          <td>Bitcoin</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td><button class="btn btn-primary btn-sm">Actualizar</button></td>
          </tr>
          <tr>
          <td>Bitcoin</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td>$50,000</td>
          <td><button class="btn btn-primary btn-sm">Actualizar</button></td>
          </tr>
          <!-- Agregar más filas para más criptomonedas -->
      </tbody>
      </table>
      <button class="btn btn-danger btn-sm mt-3 mb-5">Actualizar Todas</button>
  </div>
{% endblock content %}
